<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SubjectServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.SubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnitQuestionServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.UnitQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChapterQuestionServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.ChapterQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopicQuestionServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.TopicQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.QuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDataServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.UserDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvaluationLoadServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.EvaluationLoadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.LoginClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.LoadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerSheetUpServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.AnswerSheetUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAnswerSheet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.ListAnswerSheetServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>DWR Servlet</display-name>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>OpenPicServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.OpenPicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.NextServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitMarksServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.SubmitMarksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignExamServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.AssignExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UniversityServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.UniversityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollegeServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.CollegeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.DepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DegreeServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.DegreeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountryServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.CountryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StateServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.StateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.CityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdminServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.LoginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QualificationServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.QualificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecurityServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.SecurityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDataAdminServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.UserDataAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectAdminServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.SubjectAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaperFormatServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.PaperFormatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaperCreationServlet</servlet-name>
        <servlet-class>av.online_exampaper.servlet.PaperCreationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadServlet</servlet-name>
        <url-pattern>/LoadServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectServlet</servlet-name>
        <url-pattern>/SubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnitQuestionServlet</servlet-name>
        <url-pattern>/UnitQuestionServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChapterQuestionServlet</servlet-name>
        <url-pattern>/ChapterQuestionServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicQuestionServlet</servlet-name>
        <url-pattern>/TopicQuestionServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionServlet</servlet-name>
        <url-pattern>/QuestionServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDataServlet</servlet-name>
        <url-pattern>/UserDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvaluationLoadServlet</servlet-name>
        <url-pattern>/EvaluationLoadServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerSheetUpServlet</servlet-name>
        <url-pattern>/AnswerSheetUpServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAnswerSheet</servlet-name>
        <url-pattern>/ListAnswerSheet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenPicServlet</servlet-name>
        <url-pattern>/OpenPicServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitMarksServlet</servlet-name>
        <url-pattern>/SubmitMarksServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextServlet</servlet-name>
        <url-pattern>/NextServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignExamServlet</servlet-name>
        <url-pattern>/AssignExamServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UniversityServlet</servlet-name>
        <url-pattern>/UniversityServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollegeServlet</servlet-name>
        <url-pattern>/CollegeServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentServlet</servlet-name>
        <url-pattern>/DepartmentServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DegreeServlet</servlet-name>
        <url-pattern>/DegreeServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountryServlet</servlet-name>
        <url-pattern>/CountryServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StateServlet</servlet-name>
        <url-pattern>/StateServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityServlet</servlet-name>
        <url-pattern>/CityServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdminServlet</servlet-name>
        <url-pattern>/LoginAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QualificationServlet</servlet-name>
        <url-pattern>/QualificationServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecurityServlet</servlet-name>
        <url-pattern>/SecurityServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDataAdminServlet</servlet-name>
        <url-pattern>/UserDataAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectAdminServlet</servlet-name>
        <url-pattern>/SubjectAdminServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaperFormatServlet</servlet-name>
        <url-pattern>/PaperFormatServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaperCreationServlet</servlet-name>
        <url-pattern>/PaperCreationServlet</url-pattern>
    </servlet-mapping>
</web-app>
